.contact-subtitle {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.contact-content {
  display: flex;
  gap: 2rem;
}

.contact-info {
  flex-basis: 40%;
}

.contact-info h3 {
  font-size: 1.5rem;
  font-family: var(--font-headings);
  margin-bottom: 1rem;
}

.contact-info p {
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}

.contact-form {
  flex-basis: 60%;
}

.form-group {
  margin-bottom: .3rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.1rem;
  font-weight: 600;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: var(--font-main);
  font-size: 1rem;
}

.form-group textarea {
  resize: vertical;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }
}